@model List<gsu_math.Models.ForumBaslik>
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Forum";
}
<script type="module">
    import { LaTeXJSComponent } from "https://cdn.jsdelivr.net/npm/latex.js/dist/latex.mjs"
    customElements.define("latex-js", LaTeXJSComponent)
</script>
<style>
    latex-js {
        display: inline-block;
        width: 100%;
        --size:90% !important;
        
    }
</style>
<section class="section" style="margin-top: 90px !important;padding:0px !important;" id="contact">
        <div class="container text-center">
            <form  asp-action="Create" id="my-form" class="contact-form col-md-10 col-lg-8 m-auto">
                <div class="form-row">
                    <div class="form-group col-sm-12">
                        <Textarea class="form-control" id="text" name="Baslik" placeholder="Konu oluşturun" rows="3"></Textarea>
                    </div>
                    <div class="form-group col-sm-12 mt-3">
                        <button type="button" id="kontrol" class="btn btn-secondary mt-2"  onclick="latexkodunukontrolet();">
                            Kontrol et
                        </button>
                    </div>
                </div>
            </form>
            <div hidden id="test">
                <div class="blog-card">
                    <div class="blog-card-body " width = "100%">
                        <div class="w-100 text-center" id="cikti"></div> 

                        <p class="blog-card-caption">
                            <a href="#"><i class="ti-comment"></i> 0</a>
                            <a><i class="bi bi-person-circle"></i>@User.Identity.Name</a>
                        </p>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" type="submit" form="my-form" onclick="document.getElementById('my-form').submit()">Konu Başlat</button>
            </div>
        </div><!-- end of container -->
    </section><!-- end of contact section -->
<section class="section" id="blog">
    <!-- container -->
    <div class="container text-center">

        <!-- blog-wrapper -->
        @foreach (var item in Model)
        {
            <div class="blog-card">
                <div class="blog-card-body">
                    <h5 class="blog-card-title"><latex-js
                    baseURL="https://cdn.jsdelivr.net/npm/latex.js/dist/">@item.Baslik</latex-js></h5>

                        <p class="blog-card-caption">
                            <a href="#"><i class="ti-comment"></i> @item.cevapsayisi</a>
                            <a><i class="bi bi-person-circle"></i>@item.creater</a>
                            
                            <a><i class="bi bi-calendar"></i>@item.AtCreated</a>
                        </p>

                        <a asp-controller="Forum" asp-action="detail" asp-route-id = "@item.slug" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>
                </div>
            </div>
        }
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/latex.js/dist/latex.js"></script>
<script>
    function latexkodunukontrolet(){
        document.getElementById("test").hidden = true;
        document.getElementById("cikti").innerHTML = "";
        var text = document.getElementById("text").value;
        document.getElementById("cikti").innerHTML = '<latex-js baseURL="https://cdn.jsdelivr.net/npm/latex.js/dist/">' + text + '</latex-js>'
        document.getElementById("test").hidden = false;
    };
    
</script>

