@model List<gsu_math.Models.ForumBaslik>

<script type="module">
    import { LaTeXJSComponent } from "https://cdn.jsdelivr.net/npm/latex.js/dist/latex.mjs"
    customElements.define("latex-js", LaTeXJSComponent)
</script>
<style>
    latex-js {
        display: inline-block;
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <form asp-action="Create" id="my-form">
            <div class="form-group">
                <Textarea class="form-control" id="text" name="Baslik" placeholder="Konu oluşturun" rows="3"></Textarea>
            </div>
            <button type="button" id="kontrol" class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="latexkodunukontrolet();">
                Kontrol et
            </button>
        </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Kontrol edin</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="cikti"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary" type="submit" form="my-form" onclick="document.getElementById('my-form').submit()">Konu Başlat</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-8 offset-md-2 mt-2">
            
                <div class="card">
                    <a asp-controller="forum" asp-action="detail" class="forum-card" asp-route-id="@item.slug">
                    <h3 class="card-title baslik"><latex-js
                        baseURL="https://cdn.jsdelivr.net/npm/latex.js/dist/">@item.Baslik</latex-js>
                    </h3>
                    </a>
                    <div class="card-body forum-body">
                        <span>Cevap sayısı: @item.cevapsayisi</span>|&nbsp;&nbsp;
                        <span><i class="bi bi-person-circle"></i>@item.creater</span>|&nbsp;&nbsp;
                        
                        <span><i class="bi bi-calendar"></i>@item.AtCreated</span>
                    </div>
                </div>
        </div>

    }
</div>
<script src="https://cdn.jsdelivr.net/npm/latex.js/dist/latex.js"></script>
<script>
    function latexkodunukontrolet(){
        var text = document.getElementById("text").value;
        document.getElementById("cikti").innerHTML = '<latex-js baseURL="https://cdn.jsdelivr.net/npm/latex.js/dist/">' + text + '</latex-js>'
    };
</script>
