@model gsu_math.Models.User

<div class="row">
    <h5 class="text-center">@Model.AdSoyad ' ın yetkileri</h5>
        
        <form asp-action="YetkiEkleSil" asp-controller="Panel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6 offset-md-3 text-center">
            @foreach (var i in @ViewBag.mevcutyetkiler)
            {
                if (@Model.Yetki.Contains(i.YetkiHarf))
                {
                    <input type="checkbox" name="@i.YetkiHarf" checked>
                    <label >@i.Aciklama</label><br>
                }else{
                    <input type="checkbox" name="@i.YetkiHarf">
                    <label> @i.Aciklama</label><br>
                }   
                
            }   
                <input type="submit" value="Ekle">
            </div>
        </form>
        
</div>

