@model List<gsu_math.Models.User>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Kullanıcı Adı</th>
                <th>İsim Soyisim</th>
                <th>Durum</th>
                <th>Yetkiler</th>
                <th>@@</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Username</td>
                    <td>@item.AdSoyad</td>
                    <td>@item.Status</td>
                    <td>@item.Yetki</td>
                    <td><a asp-controller="Panel" asp-action="YetkiEkleSil" asp-route-id="@item.Username">Yetkiler</a></td>
                </tr>
            }
            
        </tbody>
    </table>
</div>